<launch>
    <!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
    <include file = "$(find kuka_prism)/launch/kuka_x.launch" />
    <!-- Launch Moveit Move Group Node -->
    <include file = "$(find kuka_moveit_pkg)/launch/move_group.launch" />
    <!-- Run Rviz and load the default configuration to see the state of the move_group node -->
    <arg name="use_rviz" default="true" />
    <include file="$(find kuka_moveit_pkg)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find kuka_moveit_pkg)/launch/moveit.rviz"/>
    </include>
    
    
</launch>